<div class="header">
  <p>CATEGORIAS</p>
  <a routerLink="/categories" class="link-to-another-page">
    Gerenciar
    <lucide-icon [img]="ChevronRight" size="20" />
  </a>
</div>
<div class="categories">
  @if (categoryTotalAmount().length == 0) {
  <div class="no-category">
    Não há categorias.
  </div>
  } @else {
  @for (category of categoryTotalAmount(); track category.id) {
  <div class="category">
    <div class="tag">
      <p [ngClass]="`tag-${category.color}-color`">
        {{ category.title }}
      </p>
    </div>
    <div class="quantity">
      <p>{{ category.itemsCount }} itens</p>
    </div>
    <div class="amount">
      <p>{{ category.totalValue | currency:'BRL' }}</p>
    </div>
  </div>
  }
  }
</div>