<label [ngClass]="getStateClasses()" for="password">
  Senha
</label>
<div class="container" [ngClass]="getStateClasses()" (click)="input.focus()">
  <lucide-icon [img]="Lock" size="16" class="lock-icon" />
  <input #input [type]="isHidden() ? 'password' : 'text'" id="password" autocomplete="current-password"
    spellcheck="false" [formControl]="formControlPassword()" placeholder="Digite sua senha" (focus)="gainFocus()"
    (blur)="isFocused.set(false)" />

  <div class="eye-icon" (click)="showPassword()">
    @if (isHidden()) {
    <lucide-icon [img]="EyeClosed" size="16" />
    } @else {
    <lucide-icon [img]="Eye" size="16" />
    }
  </div>
</div>

@if (isInvalid()) {
<span class="error-message">
  * A senha deve conter entre 8 e 64 caracteres
</span>
}