<label [ngClass]="getStateClasses()" [for]="fieldName()">
  {{ labelText() }}
</label>
<div class="input-container" [ngClass]="getStateClasses()" (click)="inputRef.focus()">
  <ng-content />
  @if (type() === 'number') {
  <p class="currency-symbol">
    R$
  </p>
  }
  <input #inputRef [id]="fieldName()" [type]="type()" [min]="type() === 'number' ? 0 : null"
    [formControl]="formControlInput()" [placeholder]="placeholder()" (focus)="gainFocus()" (blur)="isFocused.set(false)"
    (keydown)="blockNegative($event)" />
</div>

@if (isInvalid()) {
<span class="error-message">
  @if (type() == 'email') {
  * E-mail inválido. Deve ter no máximo 300 caracteres
  } @else {
  * {{ errorMessage() }}
  }
</span>
}
