:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 48px;
}

.top-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.top-container div h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--gray-800);
}

.top-container div h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-600);
}

.top-container button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  font: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--brand-base);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.top-container button:hover {
  transform: scale(103%);
}

.top-container button:active {
  transform: scale(101%);
}

.top-container button lucide-icon {
  color: var(--gray-100);
}

.filters {
  background-color: white;
  border-radius: 12px;
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-areas: 'a1 a2 a3 a4';
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 24px 24px 24px;
  border: 1px solid var(--gray-200);
}

.filters .search {
  grid-area: a1;
}

.filters app-select-input[label='Tipo'] {
  grid-area: a2;
}

app-select-input[label='Tipo'] app-select-option[value='income'] {
  color: var(--green-dark);
}

app-select-input[label='Tipo'] app-select-option[value='income'] lucide-icon {
  color: var(--green-base);
}

app-select-input[label='Tipo'] app-select-option[value='expense'] {
  color: var(--red-dark);
}

app-select-input[label='Tipo'] app-select-option[value='expense'] lucide-icon {
  color: var(--red-base);
}

.filters app-select-input[label='Categoria'] {
  grid-area: a3;
}

app-select-input[label='Categoria'] app-select-option p {
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.filters app-select-input[label='Período'] {
  grid-area: a4;
}

table {
  width: 100%;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--gray-200);
  border-collapse: separate;
}

thead tr th {
  padding: 20px 24px;
  font-size: 12px;
  line-height: 16px;
  word-spacing: 0.6px;
  font-weight: 500;
  text-align: center;
  color: var(--gray-500);
  border-bottom: 1px solid var(--gray-200);
}

thead tr th:nth-child(1) {
  width: 34%;
  text-align: start;
}

thead tr th:nth-child(2) {
  width: 10%;
}

thead tr th:nth-child(3) {
  width: 18%;
}

thead tr th:nth-child(4) {
  width: 10%;
}

thead tr th:nth-child(5) {
  width: 18%;
  text-align: end;
}

thead tr th:nth-child(6) {
  width: 10%;
  text-align: end;
}

tbody td {
  border-bottom: 1px solid var(--gray-200);
}

td .description {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-800);
}

td .description lucide-icon {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

td .date {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--gray-600);
  text-align: center;
}

td .category {
  display: flex;
  justify-content: center;
}

td .category p {
  align-items: center;
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

td .type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

td .income {
  color: var(--green-dark);
}

td .income lucide-icon {
  color: var(--green-base);
}

td .expense {
  color: var(--red-dark);
}

td .expense lucide-icon {
  color: var(--red-base);
}

td .value {
  text-align: end;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 0 24px;
  color: var(--gray-800);
}

td .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

td .actions button {
  all: unset;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: white;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  transition: 0.2s;
}

td .actions button:hover {
  transform: scale(105%);
}

td .actions button:active {
  transform: scale(102%);
}

td .actions .trash {
  color: var(--danger);
}

td .actions .edit {
  color: var(--gray-700);
}

tfoot tr td {
  padding: 20px 24px;
}

tfoot tr td:first-child {
  text-align: start;
}

tfoot tr td:last-child {
  text-align: end;
}

td .count-results {
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-700);
  font-weight: 400;
}

td .count-results span {
  font-weight: 500;
}

td .pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

td .pagination button {
  all: unset;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 8px;
  color: var(--gray-700);
  transition: 0.1s;
}

td .pagination button:not(.selected) {
  border: 1px solid var(--gray-300);
}

td .pagination button:hover:not(.selected):not(:disabled) {
  background-color: var(--gray-200);
}

td .pagination button:disabled {
  opacity: 50%;
  cursor: default;
}

td .pagination .page p {
  text-align: center;
}

td .pagination button.selected {
  background-color: var(--brand-base);
  color: white;
}
